{% extends 'layout.html.twig' %}

{% block style %}
    {% stylesheets
    '@AppBundle/Resources/css/style.css'
    '@AppBundle/Resources/css/typeahead.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock style %}


{% block script %}
    {% javascripts
    '@AppBundle/Resources/js/typeahead.bundle.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock script %}

{% block navbar %}
    {%     if 0  %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            {{ knp_menu_render('AppBundle:Builder:mainMenu', { 'style': 'navbar' }) }}
            {{ render(controller('AppBundle:Search:search')) }}
            {{ knp_menu_render('AppBundle:Builder:mainMenu', { 'style': 'navbar-right' }) }}
        </div><!-- /.navbar-collapse -->
    </nav>
        {% endif %}
{% endblock navbar %}