{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rubrique list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Lft</th>
                <th>Rgt</th>
                <th>Lvl</th>
                <th>Name</th>
                <th>Title</th>
                <th>Description</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rubrique in rubriques %}
            <tr>
                <td><a href="{{ path('rubrique_show', { 'id': rubrique.id }) }}">{{ rubrique.id }}</a></td>
                <td>{{ rubrique.lft }}</td>
                <td>{{ rubrique.rgt }}</td>
                <td>{{ rubrique.lvl }}</td>
                <td>{{ rubrique.name }}</td>
                <td>{{ rubrique.title }}</td>
                <td>{{ rubrique.description }}</td>
                <td>{% if rubrique.createdAt %}{{ rubrique.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if rubrique.updatedAt %}{{ rubrique.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if rubrique.active %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('rubrique_show', { 'id': rubrique.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('rubrique_edit', { 'id': rubrique.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rubrique_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
